ion-content .ion-content-body-login {
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.body_login .logo img{
    width: 26vh;
}

.body_login .body_log .input-group .input-email input,
.body_login .body_log .input-group .input-password input {
    margin-bottom: 1.5cm;
    color: #2f3032;
    background-color: transparent;
    border: none;
    border-bottom: groove 1px #2f3032;
    width: 8.5cm;
    outline: none;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: left;
    letter-spacing: 1px;
}

.body_login .body_log .input-group .input-email input::placeholder,
.body_login .body_log .input-group .input-password input::placeholder {
    color: #2f3032;
}

.body_login .body_log .input-group .input-password ion-icon {
    font-size: 16px;
    position: absolute;
    margin-top: 5px;
    right: 1.3cm;
    color: #2f3032;
}

.body_login .body_log .error {
    display: flex;
    justify-content: center;

    .error-message {
        width: 80%;
    }
}

.body_login .body_log .button button {
    letter-spacing: 1px;
    width: 100%;
    height: 2rem;
    margin-top: 5px;
    background-color: #2f3032;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 1.5cm;
    font-size: 16px;
    transition: 0.4s ease-in-out;
}

.body_login .body_log .button button:hover {
    box-shadow: 0 1px 2px #2f3032;
    transform: translateY(-2px);
}

.body_login .body_log .inscription-link {
    text-align: end;
}

.body_login .body_log .inscription-link button {
    font-size: 16px;
    color: #2f3032;
    border: none;
    background-color: #2f3032;
    background-color: transparent;
    letter-spacing: 1px;
}

@media only screen and (min-width:360px) {
    .body_login .body_log .input-group .input-password ion-icon {
        font-size: 16px;
        position: absolute;
        margin-top: 5px;
        right: 0.6cm;
        color: #2f3032;
    }    
}

@media only screen and (min-width:375px) {
    .body_login .body_log .input-group .input-password ion-icon {
        font-size: 16px;
        position: absolute;
        margin-top: 5px;
        right: 0.8cm;
        color: #2f3032;
    }    
}

@media only screen and (min-width:414px) {
    .body_login .body_log .input-group .input-password ion-icon {
        font-size: 16px;
        position: absolute;
        margin-top: 5px;
        right: 1.3cm;
        color: #2f3032;
    }    
}

@media only screen and (min-width:390px) {
    .body_login .body_log .input-group .input-password ion-icon {
        font-size: 16px;
        position: absolute;
        margin-top: 5px;
        right: 1.3cm;
        color: #2f3032;
    }    
}

@media only screen and (min-width:430px) {
    .body_login .body_log .input-group .input-password ion-icon {
        font-size: 16px;
        position: absolute;
        margin-top: 5px;
        right: 1.5cm;
        color: #2f3032;
    }    
}