ion-content .ion-content-body-profil {
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.ion-content-body-profil .profil-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;

    .title {
        width: 100%;
        margin-left: 1.8cm;
    }

    .icon-create {
        width: 25%;
        ion-icon {
            font-size: 25px;
            position: relative;
            top: 18px;
            color: #2f3032;
        }
    }
}

.ion-content-body-profil .profil {
    margin-top: 2cm;

    .profil-picture {
        display: flex;
        justify-content: center;

        ion-avatar {
            width: 95px;
            height: 95px;
        }
    }
}

.ion-content-body-profil .stats {
    display: flex;
    align-items: end;
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 3vh;

    hr {
        height: 40px;
        border-width: 1px;
    }

    .stats-annonce {
        h2 {
            font-weight: bold;
        }
        p {
            margin: 0;
            color: gray;
        }
    }
}

.ion-content-body-profil .swiper {
    margin-top: 3vh;

    ion-icon {
        font-size: 22px;
    }
}

.ion-content-body-profil .listAnnonce {
    margin-top: 1px;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;

    .annonce {
        width: 15vh;
        height: 149px;
        img {
            width: 15vh;
            height: 150px;
        }
    }
}

@media only screen and (min-width:375px) {
    .ion-content-body-profil .listAnnonce {    
        .annonce {
            width: 18.6vh;
            height: 149px;
            img {
                width: 18.6vh;
                height: 150px;
            }
        }
    }
}

@media only screen and (min-width:360px) {
    .ion-content-body-profil .listAnnonce {    
        .annonce {
            width: 16.2vh;
            height: 149px;
            img {
                width: 16.2vh;
                height: 150px;
            }
        }
    }
}

@media only screen and (min-width:375px) {
    .ion-content-body-profil .listAnnonce {    
        .annonce {
            width: 15.4vh;
            height: 149px;
            img {
                width: 15.4vh;
                height: 150px;
            }
        }
    }
}

@media only screen and (min-width:390px) {
    .ion-content-body-profil .listAnnonce {    
        .annonce {
            width: 15.4vh;
            height: 149px;
            img {
                width: 15.4vh;
                height: 150px;
            }
        }
    }
}

@media only screen and (min-width:412px) {
    .ion-content-body-profil .listAnnonce {    
        .annonce {
            width: 15vh;
            height: 149px;
            img {
                width: 15vh;
                height: 150px;
            }
        }
    }
}

@media only screen and (min-width:414px) {
    .ion-content-body-profil .listAnnonce {    
        .annonce {
            width: 15.4vh;
            height: 149px;
            img {
                width: 15.4vh;
                height: 150px;
            }
        }
    }
}

@media only screen and (min-width:430px) {
    .ion-content-body-profil .listAnnonce {    
        .annonce {
            width: 15.3vh;
            height: 149px;
            img {
                width: 15.3vh;
                height: 150px;
            }
        }
    }
}