ion-content .ion-content-body-annonce {
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.ion-content-body-annonce .annonce-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1;

    ion-searchbar {
        padding: 11px;
        margin: 10px 0px 12px 0px;

        input {
            text-align: start;
        }
    }

    .slide-search {
        margin-bottom: 10px;
        font-size: 16px;

        .swiper-slide {
            font-size: 16px;
        }
    }
}

.ion-content-body-annonce .listAnnonce {
    height: auto;
    overflow: scroll;
    margin-top: 3cm;
    margin-bottom: 65px;

    .spinner-container {
        display: flex;
        justify-content: center;
        height: 80vh;
        align-items: center;
    }
}

.ion-content-body-annonce .listAnnonce .annonce ion-card {
    ion-card-header {
        text-align: start;

        ion-card-title {
            font-weight: bold;
        }
        ion-card-subtitle {
            color: gray;
        }
        ion-card-content {
            padding: 0;
            padding-top: 10px;
            color: #2f3032;
            font-weight: bold;
            display: flex;
            justify-content: space-between;

            a {
                color: #2f3032;
                text-decoration: none;
                border: groove 1px;
                border-radius: 20px;
                width: 3cm;
                text-align: center;
                background-color: #2f3032;
                color: #fff;
            }
        }
    }   
}