ion-content .ion-content-body-annonce-profil {
    height: 100vh;
    overflow: auto;
}

.spinner-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.detail-header {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background: #fff;

    .icon-arrowBack {
        width: 25%;

        ion-icon {
            font-size: 25px;
            position: relative;
            left: 30px;
            top: 30px;
            color: #2f3032;
        }
    }
}

.detail-picture {
    margin-top: 2.5cm;
    text-align: center;
    img {
        width: 390px;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    }
}

.details {
    .voiture {
        display: flex;
        justify-content: space-around;
        .voiture-name {
            h1 {
                font-weight: bold;
            }
        }
        .voiture-price {
            padding-left: 20px;
            h2 {
                font-weight: bold;
                margin: 0;
                margin-top: 18px;
            }
        }
    }
    
    .voiture-description {
        p {
            color: gray;
            font-size: 16px;
            margin: 0;
            padding: 20px 20px 15px 20px;
            letter-spacing: 1px;
        }
    }
    .voiture-details {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;

        .propriete {
            margin-bottom: 20px;

            h4 {
                font-weight: bold;
            }
        
            p {
                color: gray;
                margin: 0;
            }
        }
    }
}


.button {
    text-align: center;
    margin-bottom: 15px;
    .button-valider {
        background-color: #2f3032;
        color: #fff;
        width: 10cm;
        height: 2rem;
    }

    .vendu {
        background-color: #fff;
        border: 1px groove grey;
        color: grey;
    }
}

ion-popover {
    .ion-delegate-host {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .input-group .select-user,
        .input-group .input-prix {
            select,input {
                letter-spacing: 1px;
                color: #2f3032;
                background-color: transparent;
                border: none;
                border-bottom: groove 1px #2f3032;
                width: 5cm;
                outline: none;
                font-size: 16px;
                padding-bottom: 5px;
                margin-bottom: 20px;
                text-align: left;
            }
        }

        .valider {
            button {
                letter-spacing: 1px;
                background-color: #2f3032;
                color: #fff;
                border-radius: 4px;
                font-weight: bold;
                font-size: 16px;
                transition: 0.4s ease-in-out;
            }
        }
    }


}