ion-content .ion-content-body-ajout {
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.ion-content-body-ajout .ion-content-body-ajout {
    display: flex;
}

.ion-content-body-ajout .ion-content-body-ajout .icon-arrowBack {
    width: 25%;
}

.ion-content-body-ajout .ion-content-body-ajout .icon-arrowBack ion-icon {
    font-size: 25px;
    position: relative;
    top: 30px;
    color: #2f3032;
}

.ion-content-body-ajout .ion-content-body-ajout .title {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserat';
    position: relative;
    left: 50px;
    top: 10px;
}

.ion-content-body-ajout .body_ajout {
    display: flex;
    justify-content: center;
    margin-top: 1cm;
}

.ion-content-body-ajout .body_ajout .input-group .select-categorie,
.ion-content-body-ajout .body_ajout .input-group .select-marque,
.ion-content-body-ajout .body_ajout .input-group .input-modele,
.ion-content-body-ajout .body_ajout .input-group .input-month,
.ion-content-body-ajout .body_ajout .input-group .input-kilometrage,
.ion-content-body-ajout .body_ajout .input-group .select-transmission,
.ion-content-body-ajout .body_ajout .input-group .select-origine,
.ion-content-body-ajout .body_ajout .input-group .select-carburant,
.ion-content-body-ajout .body_ajout .input-group .select-energie,
.ion-content-body-ajout .body_ajout .input-group .input-matricule,
.ion-content-body-ajout .body_ajout .input-group .input-place,
.ion-content-body-ajout .body_ajout .input-group .input-description,
.ion-content-body-ajout .body_ajout .input-group .input-prix,
.ion-content-body-ajout .body_ajout .input-group .select-couleur {
    margin-bottom: 1.5cm;

    input {
        letter-spacing: 1px;
        color: #2f3032;
        background-color: transparent;
        border: none;
        border-bottom: groove 1px #2f3032;
        width: 8.5cm;
        outline: none;
        font-size: 16px;
        padding-bottom: 5px;
        text-align: left;
    }

    input::placeholder,textarea::placeholder {
        color: #2f3032;
    }

    textarea {
        letter-spacing: 1px;
        color: #2f3032;
        background-color: transparent;
        border: groove 1px #2f3032;
        width: 8.5cm;
        outline: none;
        font-size: 16px;
        padding-bottom: 5px;
        text-align: left;
    }
}

.ion-content-body-ajout .body_ajout .input-group .input-file {
    margin-bottom: 1.5cm;

    label {
        letter-spacing: 1px;
        color: #2f3032;
        background-color: transparent;
        border: none;
        border-bottom: groove 1px #2f3032;
        display: flex;
        width: 8.5cm;
        outline: none;
        font-size: 16px;
        padding-bottom: 5px;
        text-align: left;

        ion-icon {
            font-size: 20px;
            position: absolute;
            padding-left: 7.9cm;
        }
    }

    input {
        display: none;
    }
}

.ion-content-body-ajout .link {
    display: flex;
    justify-content: space-between;
}

.ion-content-body-ajout .link .link-back {
    color: #2f3032;
    background-color: #fff;
    text-decoration: none;
    border: 1px groove;
    border-color: #2f3032;
    letter-spacing: 1px;
    width: 4cm;
    font-weight: bold;
    font-size: 16px;
    padding-top: 1px;
}

.ion-content-body-ajout .link .link-next {
    background-color: #2f3032;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    width: 4cm;
    font-weight: bold;
    font-size: 16px;
    border: 1px groove;
    padding: 3px;
}

.ion-content-body-ajout .button {
    display: flex;
    justify-content: space-between;
}

/* .ion-content-body-ajout .button a {
    text-decoration: none;
    letter-spacing: 1px;
    width: 4cm;
    color: #2f3032;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 1px groove;
    padding: 3px;
} */

.ion-content-body-ajout .button-valider {
    letter-spacing: 1px;
    width: 4cm;
    background-color: #2f3032;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.4s ease-in-out;
}

.ion-content-body-ajout .button-valider-clicked {
    box-shadow: 0 1px 2px;
    transform: translateY(-2px);
}