ion-content .ion-content-body-modif {
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.ion-content-body-modif .modif-header {
    display: flex;
}

.ion-content-body-modif .modif-header .icon-arrowBack {
    width: 25%;
}

.ion-content-body-modif .modif-header .icon-arrowBack ion-icon {
    font-size: 25px;
    position: relative;
    top: 30px;
    color: #2f3032;
}

.ion-content-body-modif .modif-header .title {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserat';
    position: relative;
    left: 50px;
    top: 10px;
}

.ion-content-body-modif .body_modif {
    display: flex;
    justify-content: center;
    margin-top: 1cm;
}

.ion-content-body-modif .body_modif .input-group .select-categorie,
.ion-content-body-modif .body_modif .input-group .select-marque,
.ion-content-body-modif .body_modif .input-group .select-modele,
.ion-content-body-modif .body_modif .input-group .input-moteur,
.ion-content-body-modif .body_modif .input-group .input-capacite,
.ion-content-body-modif .body_modif .input-group .select-vitesse,
.ion-content-body-modif .body_modif .input-group .select-origine,
.ion-content-body-modif .body_modif .input-group .select-carburant,
.ion-content-body-modif .body_modif .input-group .input-traction,
.ion-content-body-modif .body_modif .input-group .input-etat,
.ion-content-body-modif .body_modif .input-group .input-place,
.ion-content-body-modif .body_modif .input-group .select-couleur {
    margin-bottom: 1.5cm;

    input {
        letter-spacing: 1px;
        color: #2f3032;
        background-color: transparent;
        border: none;
        border-bottom: groove 1px #2f3032;
        width: 8.5cm;
        outline: none;
        font-size: 16px;
        padding-bottom: 5px;
        text-align: left;
    }

    input::placeholder {
        color: #2f3032;
    }
}

.ion-content-body-modif .link {
    display: flex;
    justify-content: space-between;
}

.ion-content-body-modif .link .link-back {
    color: #2f3032;
    background-color: #fff;
}

.ion-content-body-modif .link .link-next {
    background-color: #2f3032;
    color: #fff;
}

.ion-content-body-modif .link a {
    text-decoration: none;
    letter-spacing: 1px;
    width: 4cm;
    color: #2f3032;
    font-weight: bold;
    font-size: 16px;
    border: 1px groove;
    padding: 3px;
}

.ion-content-body-modif .button {
    display: flex;
    justify-content: space-between;
}

.ion-content-body-modif .button a {
    text-decoration: none;
    letter-spacing: 1px;
    width: 4cm;
    color: #2f3032;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 1px groove;
    padding: 3px;
}

.ion-content-body-modif .button-valider {
    letter-spacing: 1px;
    width: 4cm;
    background-color: #2f3032;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.4s ease-in-out;
}

.ion-content-body-modif .button-valider-clicked {
    box-shadow: 0 1px 2px;
    transform: translateY(-2px);
}