
ion-tab-bar {
    background: #2f3032;
}

ion-tab-button {
    background: transparent;
    --color: white;
    --color-selected: #fff;
  
    &::before {
      background-color: #fff;
      display: block;
      content: "";
      margin: 0 auto;
      width: 0;
      height: 2px;
    }
  
    &.tab-selected::before {
      background-color: #fff;
      width: 25%;
    }
}
